{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
{{ include('/components/navbar.html.twig') }}
 <div class="">   
      <section class="py-12 py-sm-24 position-relative overflow-hidden"><img class="position-absolute top-0 start-0" src="flaro-assets/images/features/elipse.svg" alt="">
        <div class="container position-relative">
          <div class="mw-7xl mx-auto">
            <div class="row align-items-center">
              <div class="col-12 col-lg-6 mb-10 mb-lg-0">
                <div class="mw-xl mw-lg-2xl mx-auto mx-lg-0">
                  <h1 class="h3 mb-6">Build better customer experiences with Flaro</h1>
                  <p class="mw-lg fs-7 text-secondary-dark">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat.</p>
                </div>
              </div>
              <div class="col-12 col-lg-6">
                <div class="mw-2xl mx-auto"><img class="img-fluid w-100" src="/images/features/feature.png" alt=""></div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="py-12 py-sm-24 pt-md-32 pt-xl-64 bg-info-light overflow-hidden">
        <div class="container">
          <div class="mw-5xl mx-auto">
            <div class="row mb-24">
              <div class="col-12 col-lg-4 mb-12">
                <div class="position-relative mw-sm mx-auto p-8 rounded-4 bg-white border border-primary-light border-opacity-25 overflow-hidden">
                  <div class="position-absolute top-0 start-0 h-100 w-100" style="backdrop-filter: blur(23px);"></div>
                  <div class="position-relative"><span class="fw-semibold fs-9 text-primary text-uppercase">Basic</span>
                    <h4 class="mt-8 mb-0">Free</h4><span class="text-secondary fs-9">No credit card required</span>
                    <p class="mt-6 mb-4 text-secondary-dark">Lorem ipsum dolor sit amet, consec tetur adipiscing elit. Egestas lacus, blan dit pellentesque.</p><a class="btn w-100 btn-outline-light-dark text-dark" href="#">Get Started Now</a>
                  </div>
                </div>
              </div>
              <div class="col-12 col-lg-4 mb-12">
                <div class="mw-sm mx-auto position-relative p-8 rounded-4 bg-white border border-primary-light border-opacity-25" style="box-shadow: 0px 53px 84px rgba(0, 0, 0, 0.2);"><img class="position-absolute top-0 end-0 mt-n9 mt-lg-n12 me-lg-n8" src="flaro-assets/images/pricing/popular.png" alt="">
                  <div class="position-relative overflow-hidden"><img class="position-absolute bottom-0 start-0 w-100" src="flaro-assets/images/pricing/gradient3.svg" alt="">
                    <div class="position-relative"><span class="fw-semibold fs-9 text-primary text-uppercase">Standard</span>
                      <h4 class="mt-8 mb-0">$19/mo</h4><span class="text-secondary fs-9">No credit card required</span>
                      <p class="mt-6 mb-4 text-secondary-dark">Lorem ipsum dolor sit amet, consec tetur adipiscing elit. Egestas lacus, blan dit pellentesque.</p><a class="btn w-100 btn-primary" href="#">Get Started Now</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-lg-4">
                <div class="position-relative mw-sm mx-auto p-8 rounded-4 bg-white border border-primary-light border-opacity-25 overflow-hidden">
                  <div class="position-absolute top-0 start-0 h-100 w-100" style="backdrop-filter: blur(23px);"></div>
                  <div class="position-relative"><span class="fw-semibold fs-9 text-primary text-uppercase">Basic</span>
                    <h4 class="mt-8 mb-0">Free</h4><span class="text-secondary fs-9">No credit card required</span>
                    <p class="mt-6 mb-4 text-secondary-dark">Lorem ipsum dolor sit amet, consec tetur adipiscing elit. Egestas lacus, blan dit pellentesque.</p><a class="btn w-100 btn-outline-light-dark text-dark" href="#">Get Started Now</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="mw-xl mx-auto text-center">
            <h6 class="fs-9 text-secondary-light mb-8">Trusted by secure payment service</h6>
            <div class="row">
              <div class="col-4 col-sm-2 px-0"><img class="img-fluid d-block mx-auto" src="/logos/brands/stripe.svg" alt=""></div>
              <div class="col-4 col-sm-2 px-0"><img class="img-fluid d-block mx-auto" src="/logos/brands/amex.svg" alt=""></div>
              <div class="col-4 col-sm-2 px-0"><img class="img-fluid d-block mx-auto" src="/logos/brands/mastercard.svg" alt=""></div>
              <div class="col-4 col-sm-2 px-0"><img class="img-fluid d-block mx-auto" src="/logos/brands/paypal.svg" alt=""></div>
              <div class="col-4 col-sm-2 px-0"><img class="img-fluid d-block mx-auto" src="/logos/brands/visa.svg" alt=""></div>
              <div class="col-4 col-sm-2 px-0"><img class="img-fluid d-block mx-auto" src="/logos/brands/apple-pay.svg" alt=""></div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <script src="./js/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="./js/main.js"></script>
{% endblock %}
